Repository lamoreauxlab/srpenergy-api-client-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, rstcheck, bandit, pylint

.pre-commit-config.yaml:

repos:
    - repo: 'https://github.com/codespell-project/codespell'
      rev: v2.2.6
      hooks:
        - id: codespell
          additional_dependencies:
            - tomli
    - repo: https://github.com/pycqa/isort
      rev: 5.13.2
      hooks:
        - id: isort
    - repo: 'https://github.com/psf/black'
      rev: 24.3.0
      hooks:
        - id: black
          args:
            - '--safe'
            - '--quiet'
    - repo: 'https://github.com/pycqa/flake8'
      rev: 7.0.0
      hooks:
        - id: flake8
          additional_dependencies:
            - flake8-docstrings==1.6.0
            - pydocstyle==6.3.0
          files: ^(srpenergy|tests)\/.+\.py$
    - repo: 'https://github.com/pre-commit/pre-commit-hooks'
      rev: v4.1.0
      hooks:
        - id: check-docstring-first
        - id: check-shebang-scripts-are-executable
        - id: check-toml
        - id: check-yaml
          args: [--unsafe]
        - id: end-of-file-fixer
        - id: fix-byte-order-marker
        - id: mixed-line-ending
        - id: trailing-whitespace
    - repo: local
      hooks:
        - id: shellcheck
          name: shellcheck
          entry: script/pre_commit_shellcheck.sh
          language: script
          exclude_types: [json, sql, toml, yaml]
          files: ^(script|iac)/.+sh$
        - id: rstcheck
          name: rstcheck
          entry: script/pre_commit_rstcheck.sh
          language: script
          files: ^.+rst$
        - id: bandit
          name: bandit
          entry: script/pre_commit_bandit.sh
          language: script
          types: [python]
          files: ^(srpenergy|tests)/.+\.py$
        - id: pylint
          name: pylint
          entry: script/run_in_env.sh pylint -j 0
          language: script
          types: [python]
          files: ^(srpenergy|tests)/.+\.py$

debug bandit pre-commit action
  script/pre_commit_bandit.sh
Due: shellcheck

add bandit toml req.
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  requirements_dev.txt
Due: none

debug bandit
  script/pre_commit_bandit.sh
Due: shellcheck

flush github action cache
  .github/workflows/ci.yml
  .github/workflows/matchers/hadolint.json
Due: none

remove debug info
  .devcontainer/Dockerfile
  script/pre_commit_bandit.sh
Due: shellcheck

ignore alias warning
  .devcontainer/Dockerfile
Due: none

bump python version
  .github/workflows/ci.yml
  pyproject.toml
Due: none

update action version
  .github/workflows/ci.yml
Due: none

update code coverage
  .github/workflows/ci.yml
  README.rst
  pyproject.toml
Due: rstcheck

update coverage call
  .github/workflows/ci.yml
  README.rst
  srpenergy/client.py
Due: rstcheck, bandit, pylint

update rtd config
  .readthedocs.yml
Due: none

fix rtd config
  .readthedocs.yml
  requirements_dev.txt
  requirements_docs.txt
Due: none

add build_docs job
  .github/workflows/ci.yml
  README.rst
Due: rstcheck

add path to docs
  .github/workflows/ci.yml
Due: none

bump version to 1.3.7
  .github/workflows/python-publish.yml
  README.rst
  docs/conf.py
  pyproject.toml
  srpenergy/__init__.py
Due: rstcheck, bandit, pylint

update publish workflow
  .github/workflows/python-publish.yml
Due: none

refactor: migrate http client from requests to curl_cffi
  pyproject.toml
  requirements.txt
  requirements_dev.txt
  srpenergy/client.py
  tests/common.py
  tests/test_client.py
  tests/test_time_of_use.py
Due: bandit, pylint

refactor: migrate linting and formatting toolchain to Ruff (#19)
  .flake8
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.rst
  docs/conf.py
  pyproject.toml
  requirements_dev.txt
  srpenergy/client.py
  tests/common.py
  tests/test_client.py
  tests/test_rate.py
  tests/test_time_of_use.py
Due: rstcheck, bandit, pylint

fix cache version
  .github/workflows/ci.yml
  README.rst
Due: rstcheck

update actions/checkout
  .github/workflows/ci.yml
Due: none

add quickstart test file
  quickstart_test.py
  requirements_dev.txt
Due: none

add version to test file
  quickstart_test.py
Due: none

add browser headers and checks
  .github/workflows/python-publish.yml
  docs/conf.py
  pyproject.toml
  srpenergy/__init__.py
  srpenergy/client.py
  tests/common.py
  tests/test_client.py
Due: bandit, pylint

remove 3.9
  .github/workflows/ci.yml
  .github/workflows/python-publish.yml
  pyproject.toml
Due: none

add claude
  .devcontainer/Dockerfile
  CLAUDE.md
Due: none

update dependencies
  pyproject.toml
  requirements_dev.txt
Due: none

fix(client): use SRP's real billed costs for TOU accounts (#24)
  srpenergy/client.py
  tests/common.py
  tests/test_rate.py
  tests/test_time_of_use.py
Due: bandit, pylint

feat(client): add usage_detailed() exposing per-tariff-bucket breakdown (#25)
  srpenergy/client.py
  tests/test_usage_detailed.py
Due: bandit, pylint

move lint ignore
  .devcontainer/Dockerfile
Due: none

add trigger for pr
  .github/workflows/ci.yml
Due: none

chore: clean up lint and test fixtures
  .devcontainer/Dockerfile
  .gitignore
  pyproject.toml
  srpenergy/client.py
  tests/common.py
  tests/test_client.py
  tests/test_usage_detailed.py
Due: bandit, pylint

ci: update GitHub Actions to supported major versions
  .github/workflows/ci.yml
  .github/workflows/python-publish.yml
Due: none

fix(ci): skip Coveralls upload on fork PRs
  .github/workflows/ci.yml
Due: none

This was cleanup from prior PR. cleanup lint and test fixtures (#26)
  .devcontainer/Dockerfile
  .github/workflows/ci.yml
  .github/workflows/python-publish.yml
  .gitignore
  pyproject.toml
  srpenergy/client.py
  tests/common.py
  tests/test_client.py
  tests/test_usage_detailed.py
Due: bandit, pylint
